.menu {
  min-width: 210px;
  background: purple;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
  margin: 0 4px 0 0;
  padding: 24px;
}

.menu li {
  list-style-type: none;
  padding: 0 0 30px 0px;
  display: flex;
}

.menu a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 18px;
}

.menu a:hover {
  color: grey;
}

.menu a:active {
  color: black;
}

.icon-container {
  min-width: 50px;
}

.menu-icon {
  width: 24px;
}

.search {
  height: 20px;
  width: 186px;
  padding: 6px 6px 6px 10px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: Nunito;
  font-weight: lighter;
  color: white;
  outline: none;
}

.search::placeholder {
  color: rgba(255, 255, 255, .5);
}

.search-button {
  height: 32px;
  width: 30px;
  border: 0;
  border-radius: 0 10px 10px 0;
  outline: none;
  position: absolute;
  left: 197px;
  top: 70px;
  background-color: rgba(0, 0, 0, 0);
}

.search-button:hover {
  background-color: plum;
}

button img {
  height: 16px;
  width: 16px;
}