.nav-container {
  height: 45px;
}

.nav-title {
  font-family: Montserrat;
  padding: 8px 0 8px 24px;
}

.nav-title-light {
  font-size: 10px;
  color: #9d9d9d;
}

.nav-title-dark {
  font-size: 13px;
  color: black;
}

/* Add user photo, team name on right
or hamburger for mobile/tablet views */