@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Nunito, Arial, Helvetica;
}

h1 {
  font-size: 18px;
  margin: 0;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 4px 0;
}